<div id="header">
  <%= link_to 'くらうどわーくす', root_path %>  
  <ul id="helpNav">
    <% if user_signed_in? -%>
      <li><%= link_to 'パスワードを変える', edit_user_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path , :method => :delete %></li>
    <%  else -%>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to '新規登録', new_user_registration_path %></li>
    <% end %>
  </ul>      
</div>
