<!DOCTYPE html>
<html>
<head>
  <title>くらうどわーくす</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'shared/header' %>          

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <div class="content">
      <div class="row">
  	<div class="span9">
	  <%= yield %>
	</div>
	<div class="span3">
	  <% if user_signed_in? -%>
	    <h3>Sidebar</h3>
	  <% end -%>
	</div>
      </div>
    </div>
  </div>


  <%= render 'shared/footer' %>
</body>
</html>
