<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :demand_tequnique %><br />
    <%= f.text_field :demand_tequnique %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br />
    <%= f.number_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :job_detail %><br />
    <%= f.text_area :job_detail %>
  </div>
  <div class="field">
    <%= f.label :apply_limit %><br />
    <%= f.date_select :apply_limit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
