<h1>Listing jobs</h1>
<%= link_to '仕事を登録する', new_job_path %>

<table>
  <tr>
    <th>案件名</th>
    <th>カテゴリー</th>
    <th>必要なスキル</th>
    <th>難しさ</th>
    <th>会社</th>
    <th>詳細</th>
    <th>募集期限</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <!--<td><%= job.title %></td>-->
    <td><h1><%= link_to job.title, job %></h1></td>
    <td>
      <%#= job.category %>
      <% if job.idea == true -%>
	<li>企画・アイディア</li>
      <% end -%>
      <% if job.create_plan == true -%>
	<li>開発</li>
      <% end -%>
      <% if job.other == true -%>
	<li>その他</li>
      <% end -%>

    </td>
    <td><%= job.demand_tequnique %></td>
    <td>
      <% if job.difficulty == 1 -%>
	簡単
      <% else %>
	普通
      <% end -%>

      <%#= job.difficulty %>
    </td>
    <td><%= job.company %></td>
    <td><%= job.job_detail %></td>
    <td><%= job.apply_limit %></td>
    <td><%= link_to 'Show', job %></td>
    
    <% if user_signed_in? && job.user_id == current_user.id -%>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
    <% end -%>
   
  </tr>
<% end %>
</table>

<br />

<style>
  .job_shikaku{border: 1px solid #C0C0C0;}
</style>
